/* Empty. Add your own CSS if you like */

.menu .item-complex .item-content, .menu .item{
    background-color: #444;
    color: #fff;
    text-decoration: none;
}

.messages {
    font-size: smaller;
    padding-top: 5px;
    padding-bottom: 10px;
    color: red;
}