<ion-view view-title="{{'ACCOUNT_CREATION'|translate}}">
    <ion-content class="padding">
        <form name="registrationForm" ng-submit="registrationForm.$valid && doRegistration()" novalidate>

            <div class="list list-inset">
                <label class="item item-input">
                    <input name="mail" type="email" placeholder="Email" ng-model="user.email"  required>
                </label>
                <div class="messages" ng-show="registrationForm.mail.$invalid" translate>INVALID_EMAIL</div>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="user.password" required>
                </label>
                <label class="item item-input">
                    <input ng-init='user.password2=""' type="password" placeholder="Password" ng-model="user.password2" compare-to="user.password" required>
                </label>
                <div class="messages" ng-show="user.password!=user.password2">
                    {{'PSW_DOESNT_MATCH'| translate}}
                </div>

            </div>
            <button class="button button-block button-dark" type="submit" translate>SEND_BUTTON</button>
        </form>

    </ion-content>

</ion-view>