<ion-view view-title="{{'EDIT_PROFILE' | translate }}">
    <ion-content padding="true">
        <form ng-submit="editProfile()">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Email" ng-model="userTemp.email" disabled>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{'NAME'|translate}}" ng-model="userTemp.name" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{'SURNAME'|translate}}" ng-model="userTemp.surname" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{'PHONE'|translate}}" ng-model="userTemp.telephone" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{'OLD_PASSWORD'|translate}}" ng-model="userTemp.old_password" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{'NEW_PASSWORD'|translate}}" ng-model="userTemp.password" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{'ADDRESS'|translate}}" ng-model="userTemp.address" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{'HOUSE_NUMBER'|translate}}" ng-model=userTemp.streetNumber required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{'CITY'|translate}}" ng-model="userTemp.city" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{'STATE'|translate}}" ng-model="userTemp.state" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{'COUNTRY'|translate}}" ng-model="userTemp.country" disabled>
                </label>
            </div>
            <button type="submit" id="submit" class="button button-block button-dark" translate>SEND_BUTTON</button>
        </form>
      </ion-content>
</ion-view>
