<ion-view view-title="{{'WISHLIST'|translate}}">
    <ion-content>
        <div class="list">

            <div class="item" ng-repeat="item in wishlist ">
                <div class="row">
                    <div class="col">
                        <img ng-src={{connection.url}}/wr-resource/{{item.pictureDefault}} style="width:100%">
                    </div>
                    <div class="col">
                        <h2>{{item.name}}</h2>

                        <p>{{item.descriptionShort}}</p>
                    </div>
                    <div class="col">
                        <button class="button button-icon button-clear ion-close-circled"
                                style="position:relative; left:90%"
                                ng-click="removeFromWishList(item)">
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

