<ion-view view-title="{{'PRODUCT'| translate}}">
    <ion-content >

        <div class="text-center">
            <div >
                <h1> {{element.name}} </h1>
            </div>
            <div >
                <img ng-src={{connection.url}}/wr-resource/{{element.pictureDefault}} style="width:60%">

                <div style="padding-top: 7%">
                    <h1>{{element.price | currency:"€"}}</h1>
                </div>
            </div>
            <div class="row" style="padding-top: 30px">
                <div class="col" ng-repeat="img in element.Pictures">
                    <div class=" list card">
                        <div class="item item-body">
                            <img ng-src={{connection.url}}/wr-resource/{{img.picture}} style="width:15%">

                        </div>
                    </div>
                </div>
            </div>
            <form name="redirectForm"  ng-submit="redirectForm.$valid && redirect()" novalidate>

                <div class="item ">
                    <button class="button button-block button-dark item-icon-right" type="submit">
                       <section translate>Acquista</section><i class="icon fa fa-shopping-cart"></i>
                    </button>
                </div>
                <div class="list">

                    <label class="item item-input item-select">

                        <div class="input-label" translate>
                            LABEL_COLOR
                        </div>

                        <select ng-model="user.colore" ng-options="colore.name as colore.name for colore in mapColore"
                                required></select>

                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label" translate>
                            LABEL_SIZE
                        </div>
                        <select ng-model="user.taglia" ng-options="taglia.name as taglia.name for taglia in mapTaglia"
                                required></select>

                    </label>


                </div>
            </form>

            <h4 translate>DESCRIPTION</h4>

            {{element.descriptionLong}}


        </div>
    </ion-content>
</ion-view>