<ion-view view-title="{{categoria.name}}">
    <ion-content>
        <div ng-if="categoria.Products[0]==undefined" style="padding-top: 10%">

            <img class=" center-block" ng-src="./demo/presto-online.jpg" style="width:50%">
        </div>

                    <div class="col " ng-repeat="item in categoria.Products" style="padding:2% 2% 2% 2%">

                        <div class=" list">
                            <div class="text-center item item-body" >

                               <h2> {{item.name}}</h2> <p></p>
                                <a href="#/tab/product/{{categoria.code}}/{{item.oid}}">

                                    <img class="img-responsive center-block" ng-src="{{connection.url}}/wr-resource/{{item.pictureDefault}}" style="width:45%" >
                                </a><p></p>
                                <h2>{{item.price | currency:"€"}}</h2>

                            </div>
                        </div>
        </div>

<!--


        <div ng-if="categoria.Products[0]!=undefined" class="row " style="flex-wrap:wrap">

            <div class="col col-50 " ng-repeat="item in categoria.Products">
                <div class=" list">
                    <div class="text-center item item-body">

                        {{item.name}}
                        <a href="#/tab/product/{{categoria.code}}/{{item.oid}}">

                            <img class="img-responsive center-block"
                                 ng-src="{{connection.url}}/wr-resource/{{item.pictureDefault}}" style="width:50%">
                        </a>

                        <p>{{item.price | currency:"€"}}</p>

                    </div>
                </div>
            </div>
        </div>
-->
    </ion-content>
</ion-view>