<ion-view view-title="{{'PURCHASES'|translate}}">
    <ion-content>
        <form name="acquistaForm" ng-submit="acquistaForm.$valid && startPayment()" novalidate>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="email" placeholder="Email" ng-model="user.email" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{'NAME'|translate}}" ng-model="user.name" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{'SURNAME'|translate}}" ng-model="user.surname" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{'ADDRESS'|translate}}" ng-model="user.address" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{'FISCAL_CODE'|translate}}"  ng-model="user.codiceFiscale" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{'PHONE'|translate}}" ng-model="user.telephone" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{'CITY'|translate}}" ng-model="user.city" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{'STATE_CODE'|translate}}" ng-model="user.cap" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{'STATE'|translate}}" ng-model="user.state" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{'COUNTRY'|translate}}" ng-model="user.country" disabled>
                </label>
            </div>
            <button class="button button-block button-dark" type="submit" translate>BUY_BUTTON</button>
        </form>
    </ion-content>
</ion-view>