<ion-view view-title="Acquista">
    <ion-content>
        <form name="acquistaForm" ng-submit="acquistaForm.$valid && startPayment()" novalidate>
            {{acquistaForm.$valid}}
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="email" placeholder="Email" ng-model="user.email" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Nome" ng-model="user.name" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Cognome" ng-model="user.surname" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Indirizzo" ng-model="user.address" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Codice Fiscale"  ng-model="user.codiceFiscale" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="telefono" ng-model="user.telephone" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Citta" ng-model="user.city" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="CAP" ng-model="user.cap" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Regione" ng-model="user.state" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Stato" ng-model="user.country" disabled>
                </label>
            </div>
            <button class="button button-block button-dark" type="submit" > Acquista</button>
        </form>
    </ion-content>
</ion-view>