<ion-view view-title="{{'YOUR_PURCHASES'|translate}}">
    <ion-content>
        <!--       <div class="list">
                   <a class="item item-thumbnail-left" href="#">
                       <img src="cover.jpg">

                       <h2>Pretty Hate Machine</h2>

                       <p>Nine Inch Nails</p>
                   </a>
               </div>
            -->

        <div class="list">
            <div class="item item-thumbnail-left" ng-repeat="item in lista ">
                <img ng-src=data:image/png;base64,{{item.basket[0].product.translation[0].picture.picture}}>

                <h2>{{'PRODUCT' | translate}} : {{item.basket[0].product.translation[0].name}}</h2>
                <p>{{item.date}}</p>
            </div>
                {{item}}
            </div>

    </ion-content>
</ion-view>